/* Fix user-agent */

* {
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

button {
  font-size: large;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  color: #000;
  cursor: pointer;
}
button:hover {
  opacity: 0.75;
}
button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.container {
  height: 99vh;
  border: 3px;
  box-sizing: border-box;
}

/* Header */
.header {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

.scoreboardContainer {
  text-align: left;
  height: 50%;
  width: 100%;
  padding-top: 5%;
}

.scoreboardTitle {
  text-align: center;
  font-size: x-large;
}
.scoreboard {
  margin: auto;
  width: auto;
  padding: 20px;
}
.scoreboardUsername {
  font-weight: bold;
}

.scoreboardRow {
  font-size: large;
}
.scoreboard td {
  padding-right: 20px;
}
.scoreboardMinus,
.scoreboardPlus {
  font-weight: bold;
  cursor: pointer;
}

/* Pages */

.mainArea {
  height: 85%;
  width: 100%;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  /* position: absolute; */
  width: 100%;
  display: none;
  opacity: 1;
}

.page.shown {
  display: block;
}

.page.fade {
  opacity: 0;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .usernameInput {
  color: #fff;
  font-weight: 100;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Game page */

.game.page {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.gameView {
  display: none;
}

.gameView.shown {
  display: block;
}

/* Chat Window */

.chatArea {
  height: 50%;
  width: 50%;
  padding-bottom: 60px;
  float: right;
}

.messages {
  font-size: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;

}

/* Message Formatting */

.message {
  opacity: 1;
}

.message.typing .messageBody {
  color: gray;
}

/* Log Formatting */

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}
.guessLog {
  color: #bb0000;
  font-weight: bold;
}
.songLog {
  color: #1e90ff;
  font-weight: bold;
}


/* Input */

.messageInput {
  border: 6px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  font-size: 100%;
  /* position: absolute; */
  right: 0;
  width: 100%;
}

/* Game Area */
.gameArea {
  height: 100%;
  width: 50%;
  padding-bottom: 60px;
  float: left;
}

.playerView,
.masterView {
  height: 100%;
  width: 100%;
}

.masterView {
  display: none;
}

.playButtons {
  text-align: center;
}

/* Media Player */
.mediaPlayer {
  height: 75%;
  width: 100%;
  text-align: center;
  /* font-size: 10vh; */
}

.guesser {
  height: 25%;
  width: 100%;
  text-align: center;
  padding: 50px;
}

/* Master View */
.gameView.master {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.songPicker, .playlistContainter {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}


h2 {
  text-align: center;
}

.songSearchBar {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 100%;
  padding-left: 10px;
  height: 60px;
  outline: none;
  border: 2px solid #f0f0f0;
}

.searchResults, .playlist {
  width: 100%;
  border-collapse: collapse
}

.trackName {
  font-style: italic;
  padding-left: 10px;
}

.searchResult {
  padding-right: 10px;
}

.searchResult.interactive:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.badge:hover {
  cursor: pointer;
}

.searchResult td {
  padding: 5px;
  height: 85px;
}

.badge {
  width: 60px;
}

p.speaker {
  font-size: 30vh;
}
p.speaker.playing {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


/* Home Page */
.homePage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homePage p {
  text-align: center;
}

.homePage h1, button {
  margin: 20px
}

#generateButton {
  text-align: center;
}

.inviteContainer {
  opacity: 1;
  transition: opacity 1s;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inviteLinkContainer {
  padding: 20px;
}

.inviteContainer.hidden {
  opacity: 0;
}

#inviteLink {
  padding: 0.75rem 1rem
}

.statistics {
  padding: 5px;
  opacity: 1;
  transition: opacity 0.5s;
}

.statistics.fade {
  opacity: 0;
}